.watch {
  color: white;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.play {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 4rem;
  position: relative;
  top: 17vh;
  opacity: 0.7;
}
