$WHITE: #ffffff;
$ASH: #d3d3d3;
$DARK-BLUE: #182b64;
$BLACK: #000000;
$SWIN-BLUE: #182b64;
$FUNDLE-BLUE: #001e57;
$NAV-BLUE: rgba(0, 117, 255, 0.4);
$LIGHT-BLUE: #41a0ff;
$DARK-TEXT: #434343;
$DARK-HEADER: #061f54;
