@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "SF Pro Regular";
  src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: "SF Pro Bold";
  src: url("../fonts/SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Light";
  src: url("../fonts/SFProDisplay-Light.ttf");
}

$LIGHT-POPPING: "Poppins Light";
$SEMIBOLD-POPPING: "Poppins SemiBold";
$BOLD: "SF Pro Bold";
$REGULAR: "SF Pro Regular";
$LIGHT: "SF Pro Light";
